@model IEnumerable<RankingPages.Models.Review>

@{
    ViewData["Title"] = "Index";
}

<h1>Chatter Reviewes Page</h1>
<p>
    Overall ranking:
    @{
        int count = 0;
        double score = 0;
        @foreach (var item in Model)
        {
            count++;
            score = score + item.Ranking;
        }
        score = score / count;
        score = Math.Round(score * 2, MidpointRounding.AwayFromZero) / 2;
    }
    @score
</p>
<p>
    <form asp-controller="Reviews" asp-action="Index">
        <p>
            <input type="text" name="SearchString" placeholder="Search a review"/>
            <input type="submit" value="Search" />
        </p>
    </form>
</p>
<p>
    <a asp-action="Create" class= "btn btn-primary">Add a new review</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reviewer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ranking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reviewer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ranking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
